
@{
    ViewBag.Title = "Index";
}

<button id="CreateBtn">Create</button>
    
@*===================Create School Start===================*@

<form id="categoryform" method="post">
    <input id="SchoolName" type="text" name="Name" value="" placeholder="Give schools name" />
    <input id="SchoolDescription" type="text" name="Description" value="" placeholder="Give schools description" />
    <select id="Departments" name="Departments" multiple>
        <option value="3">Filakes Domokou</option>
        <option value="4">Idrima Karistou</option>
    </select>
    <select id="SchoolCategories" name="SchoolCategories" >
        <option value="3">Dimosio</option>
        <option value="4">Idiotiko</option>
    </select>
    <input type="submit" value="Create School" />
</form>
@*=====================Create School End=================*@


<br />
<br />
<br />
<br />

@*==================School Table Start==============*@
<table class="table" id="datatable">

    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Departments</th>
            <th>School Category</th>
            <th>Actions</th>
        </tr>
    </thead>



</table>

@*===================School Table End====================*@


@section scripts{
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script type="text/javascript" src="~/MyScripts/School/Create.js"></script>
    <script type="text/javascript" src="~/MyScripts/School/InitDatable.js"></script>
    <script type="text/javascript" src="~/MyScripts/School/Delete.js"></script>

    <script type="text/javascript">

        $("#categoryform").toggle();

        $("#CreateBtn").click(function () {
            $("#categoryform").toggle();

            $("#SchoolName").val("");
            $("#SchoolDescription").val("");
            $("#Departments").empty();
            $("#SchoolCategories").empty();

            /*=============Ajax Technique Start==============*/
            var settings = {
                "url": "https://localhost:44318/api/SchoolInit",
                "method": "GET",
                "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                let departments = response.Departments;
                let schoolCategories = response.SchoolCategories;

                for (var dep of departments) {
                    let template = `<option value=${dep.DepartmentId}    >${dep.Name}</option>`
                    $("#Departments").append(template);

                }

                //Idios tropos alla se one line.
                //schoolCategories.forEach(x => $("#SchoolCategories").append(`<option value=${x.SchoolCategoryId}    >${x.Name}</option>`) )

                for (var cat of schoolCategories) {
                    let template = `<option value=${cat.SchoolCategoryId}>${cat.Name}</option>`
                    $("#SchoolCategories").append(template);

                }






            });

            /*=============Ajax Technique  End==============*/









        })




    </script>
    




} 